body {
    color: black;
}

h1 {
    text-align: center;
    font-size: 24px;
}

div p {
    color: cyan;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.par {
    color: blue;
    background-color: yellow;
    border-color: green;
}

h2 {
    font-size: 20px;
}

ol li {
    background-color: lightblue;
}

ul li {
    background-color: lightgreen;
}
